img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt*="right"] {
    float:right;
    clear:right;
    margin-left: 1rem;
    margin-bottom: 2px;
    margin-top: 2px;
}

/* reading mode */
.markdown-preview-view p {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 5%;    
}

/* source view and live preview */
.markdown-source-view.mod-cm6 .cm-line {
    text-align: justify;
    text-justify: inter-word;   
    text-indent: 5%;
}